@{
    ViewBag.Title = "Books store";
}

<h2>Books store</h2>

<div class="row">
    <div id="books-list" class="col-md-12">
        <p style="color:red">I will finish it today (17.11.2018)</p> 
    </div>
</div>